@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,500;1,500&family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
}

/*Start Mobile*/
@media (max-width: 375px)
{

    body
    {
       width: 100%;
       font-family: "Hanken Grotesk", sans-serif;
       font-optical-sizing: auto;
       font-weight: 500;
       font-style: normal;
       
    }

    /*
    - White: hsl(0, 0%, 100%)
    - Pale blue: hsl(221, 100%, 96%)
    - Light lavender: hsl(241, 100%, 89%)
    - Dark gray blue: hsl(224, 30%, 27%)
    */

    .Parent
    {
        background-image: linear-gradient(hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
        border-radius:0 0 33.3px 33.3px ;
        color: hsl(0, 0% , 100%);
        margin: -16px 0 0 0;
        padding: 0 0 28px 0;
        text-align: center;
    }

    .Parent .TitleOne{
        padding: 10px 0 0 0;
        color :hsl(241, 100%, 89%);
    }

    .Parent .Circle
    {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    .Parent .Circle .Number 
    {
       position: relative;
        top: 28.3px;
        font-size: 45px;
    }

    .Parent .Circle .WordNumber
    { 
        position: relative;
        top: 0px;
        font-size: 12px;
        opacity: 0.5;
    }

    .Parent .TitleText 
    {
        padding: 0 51px;
    }

    .Parent .TitleTwo
    {
        font-size: 16px;
    }

    .Parent .Text
    {
        font-size: 14px;
        opacity: 0.5;
    }

    .Main
    {
        padding:0 25px ;
    }

    .Main .TitleOne
    {
        color: hsl(224, 30%, 27%);
        font-weight: bold;
        opacity: 0.9;
    }

    .Main .Elements
    {
        margin: 0;
    }

    .Main .Element-1
    {
       background-image:url(../assets/images/icon-reaction.svg);
       background-repeat: no-repeat ;
       background-size: 20px;
       background-position: 11px 10px;
       background-color: hsl(0, 100%, 67% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 14px;
       color: hsl(0, 100%, 67%) ;
       font-weight: bold;
       margin: 15px 0;
    }

    .Main .Element-1 .Word
    {
        padding: 0 0 0 38px;
    }

    .Main .Element-1 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 135px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-1 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 6px;
    }

    .Main .Element-2
    {
       background-image:url(../assets/images/icon-memory.svg);
       background-repeat: no-repeat ;
       background-size: 20px;
       background-position: 11px 10px;
       background-color: hsl(39, 100%, 56% ,0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 14px;
       color: hsl( 39, 100%, 56% ) ;
       font-weight: bold;
    }

    .Main .Element-2 .Word
    {
        padding: 0 0 0 40px;
    }

    .Main .Element-2 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 137px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-2 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 5px;
    }

    .Main .Element-3
    {
       background-image:url(../assets/images/icon-verbal.svg);
       background-repeat: no-repeat ;
       background-size: 20px;
       background-position: 11px 10px;
       background-color:hsl(166, 100%, 37% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 14px;
       color: hsl(166, 100%, 37%);
       font-weight: bold;
       margin: 15px 0;
    }

    .Main .Element-3 .Word
    {
        padding: 0 0 0 40px;
    }

    .Main .Element-3 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 150px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-3 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 6px;
    }

    .Main .Element-4
    {
       background-image:url(../assets/images/icon-visual.svg);
       background-repeat: no-repeat ;
       background-size: 20px;
       background-position: 11px 10px;
       background-color:  hsl(234, 85%, 45% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 14px;
       color:  hsl(234, 85%, 45%);
       font-weight: bold;
    }

    .Main .Element-4 .Word
    {
        padding: 0 0 0 40px;
    }

    .Main .Element-4 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 155px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-4 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 5px;
    }

    .Footer 
    {
        margin: 30px 0 30px 30px;
    }

    .Footer button 
    {
        border: none;
        border-radius: 50px;
        width: 94%;
        background-color: hsl(224, 30%, 27% );
    }

    .Footer :hover
    {
        background-color: hsl(241, 81%, 54%);
    }

    .Footer button .Text
    {
        color :hsl(0, 0%, 100%);
        font-weight: bold;
    }
}
/*End Mobile*/


/*Start Desktop*/
@media (min-width: 376px) and (max-width:1440px)
{
    body
    {
       width: 100%;
       height: 100vh; 
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: hsl(221, 100%, 96%);
       font-family: "Hanken Grotesk", sans-serif;
       font-optical-sizing: auto;
       font-weight: 700;
       font-style: normal;
       
    }

    .Parent 
    {
        width: 20.5%;
        height: 350px;
        background-image: linear-gradient(hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
        border-radius: 33.3px ;
        color: hsl(0, 0% , 100%);
        margin: -16px 0 0 0;
        padding: 0 0 20px 0;
        text-align: center;
        z-index: 1;
    }

    .Parent .TitleOne{
        padding: 20px 0 0 0;
        color :hsl(241, 100%, 89%);
    }

    .Parent .Circle
    {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    .Parent .Circle .Number 
    {
       position: relative;
        top: 28.3px;
        font-size: 44px;
    }

    .Parent .Circle .WordNumber
    { 
        position: relative;
        top: 0px;
        font-size: 11px;
        opacity: 0.5;
    }

    .Parent .TitleText 
    {
        padding: 0 51px;
    }

    .Parent .TitleTwo
    {
        font-size: 20px;

    }

    .Parent .Text
    {
        font-size: 14px;
        opacity: 0.5;
    }

    .Main 
    {
        display: block;
        position: relative;
        left: -26px;
        top: -8px;
        padding: 0 25px 0 55px;
        background-color: hsl(0, 0%, 100%);
        width: 20.5%;
        height: 351px;
        border-radius: 0 33.3px 33.3px 0;
        
    }   

    .Main .TitleOne
    {
        margin: 30px 0 0 0;
        color: hsl(224, 30%, 27%);
    }

    .Main .Elements
    {
        margin: 16px 0 0 0;
    }

    .Main .Element-1
    {
       background-image:url(../assets/images/icon-reaction.svg);
       background-repeat: no-repeat ;
       background-size: 16px;
       background-position: 11px 11px;
       background-color: hsl(0, 100%, 67% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 11px;
       color: hsl(0, 100%, 67%) ;
       font-weight: bold;
       margin: 10px 0;
    }

    
    .Main .Element-1 .Word
    {
        padding: 0 0 0 30px;
    }

    .Main .Element-1 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 60px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-1 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 3px;
    }

    .Main .Element-2
    {
       background-image:url(../assets/images/icon-memory.svg);
       background-repeat: no-repeat ;
       background-size: 16px;
       background-position: 11px 11px;
       background-color: hsl(39, 100%, 56% ,0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 11px;
       color: hsl( 39, 100%, 56% ) ;
       font-weight: bold;
    }

    .Main .Element-2 .Word
    {
        padding: 0 0 0 30px;
    }

    .Main .Element-2 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 60px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-2 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 5px;
    }

    .Main .Element-3
    {
       background-image:url(../assets/images/icon-verbal.svg);
       background-repeat: no-repeat ;
       background-size: 16px;
       background-position: 11px 11px;
       background-color:hsl(166, 100%, 37% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 11px;
       color: hsl(166, 100%, 37%);
       font-weight: bold;
       margin: 10px 0;
    }

    .Main .Element-3 .Word
    {
        padding: 0 0 0 30px;
    }

    .Main .Element-3 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 66px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-3 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 6px;
    }

    .Main .Element-4
    {
       background-image:url(../assets/images/icon-visual.svg);
       background-repeat: no-repeat ;
       background-size: 16px;
       background-position: 11px 11px;
       background-color:  hsl(234, 85%, 45% , 0.1);
       padding: 13px 0px;
       border-radius: 10px;
       font-size: 11px;
       color:  hsl(234, 85%, 45%);
       font-weight: bold;
    }

    .Main .Element-4 .Word
    {
        padding: 0 0 0 30px;
    }

    .Main .Element-4 #BigNumber
    {
        display: inline-block;
        padding: 0 0 0 67px;
        color:  hsl(224, 30%, 27% );
    }

    .Main .Element-4 #SmallNumber
    {
        color: hsl(224, 30%, 27% , 0.5);
        padding: 0 0 0 5px;
    }

    .Footer 
    {
        margin: 30px 0 0 0;
        padding: 0 ;
    }

    .Footer button 
    {
        border: none;
        border-radius: 50px;
        width: 100%;
        line-height: 5px;
        background-color: hsl(224, 30%, 27% );
    }

    .Footer :hover
    {
        background-color: hsl(241, 81%, 54%);
    }

    .Footer button .Text
    {
        color :hsl(0, 0%, 100%);
        font-weight: bold;
    }

}
/*End Desktop*/