@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital@0;1&display=swap');
/*Start Main Rules*/
/*start desktop*/
@media (min-width:376px) and (max-width:1440px)
{

body 
{
   background-color: hsl(0, 0%, 8%) ;
   height: 100vh;
   display: flex;
   align-items: center;
   color: hsl(0, 0%, 100%);
   font-family: "Inter", sans-serif;
   font-weight: 700;
   font-style: normal;



}
.container 
{
   width: 840px;
   margin: 20px auto;
}

/*END Main Rules*/

/*Start Header*/

header 
{
   width: 34%;
   margin-right: auto;
   margin-left: auto;
   background-color:hsl(0, 0%, 12%) ;
   min-height: 100px;
   padding: 0;
   border-radius: 10px;
}

header .logo {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .logo img 
{
   border-radius: 50%;
   width: 75px;
   margin-top:30px;
}

header .logo h3
{
   
   margin: 15px 0 10px 0;
}

header .logo .site 
{
   font-size: 12px;
   margin: 0 0 30px 0;
   color: hsl(75, 94%, 57%);
}

header .logo span 
{
   font-size: 12px;
   color: hsl(0, 0%, 80%);
}

header nav 
{
   margin:  10px;
   padding: 10px 0 20px;
   text-align: center;
}


header nav ul 
{
   list-style: none;
   margin: 0;
   padding: 0;
}

header nav ul :hover 
{
   background-color: hsl(75, 94%, 57%);
   cursor: pointer;
   color: hsl(0, 0%, 8%);
}

header nav ul li 
{
   background-color: hsl(0, 0%, 20%) ;
   margin:  10px;
   padding: 7.5px;
   border-radius: 6px;
   font-weight: bold;
}


header nav ul li a
{  
   color: hsl(0, 0%, 100%);
   text-decoration: none;
   font-size: 14px;
   
   padding:5px 50px;
}

header nav ul li a:hover 
{  
   color: hsl(0, 0%, 8%);
}

/*End Header*/
} 
/*end desktp*/

/*start mobile */
@media (max-width: 375px){
body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(0, 0%, 8%);
   font-family: "Inter", sans-serif;
   
   font-weight: 400,500;
   font-style: normal;
   text-align: center;
}

.container {
   text-align: center;
   background-color: hsl(0, 0%, 12%);
   color: hsl(0, 0%, 100%);
   margin:0 -100px;
   padding: 0 15px;
   border-radius: 10px;
}



.container header .logo img {
   width: 30%;
   border-radius: 50%;
   padding: 20px 0 20px 0;
}

.container header .logo h3 {
   font-weight: bolder;
   font-size: 20px;
   margin: 0px;
}

.container header .logo .site {
   font-size: 13px;
   color: hsl(75, 94%, 57%);
   margin: 10px 0 20px 0;
}

.container header .logo span {
   font-size: 14px;
   color:  hsl(0, 0%, 80%);
   padding: 0 25px 0 25px;
}

.container header nav 
{
   margin:  -10px;
   padding: 7px 0 20px;
}

.container header nav ul 
{
   list-style: none;
   margin: 0;
   padding: 10px;
}

.container header nav ul :hover 
{
   background-color: hsl(75, 94%, 57%);
   cursor: pointer;
   color: hsl(0, 0%, 8%);
}

.container header nav ul li 
{
   background-color: hsl(0, 0%, 20%) ;
   margin: 10px;
   padding: 7.5px;
   border-radius: 6px;
   font-weight: bold;
}

.container header nav ul li a
{  
   color: hsl(0, 0%, 100%);
   text-decoration: none;
   font-size: 14px;
   padding:5px 60px;
}

}