/* Start Public */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}
/*start desktop*/
@media (min-width:376px) and (max-width:1440px){
.container {
  max-width: 1440px;
  margin: 20px auto;
}

/* End Public */

/* Start Header */

header {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

header .logo img {
  width: 100%;
  border-radius: 10px;
}

header .logo .one {
  position: relative;
  top: -305px;
  left: -0.2%;
  padding: 91px 54px 88px 38px;
  margin: 40px 0px -300px 0px;
  background-color: hsl(178, 100%, 50%, 60%);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
}

header .logo .one:hover {
  position: relative;
  top: -305px;
  left: -0.2%;
  padding: 91px 54px 88px 38px;
  margin: 40px 0px -300px 0px;
  background-color: hsl(178, 100%, 50%, 60%);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
}

header .logo .one p {
  width: 50px;
  height: 50px;
  position: relative;
  top: 36%;
  left: 41%;
  background-image: url("images/icon-view.svg");
}

header .logo h2 {
  color: hsl(0, 0%, 100%);
}

header .logo h2:hover {
  color: hsl(178, 100%, 50%);
}

header .logo p {
  color: hsl(215, 51%, 70%);
}

header nav {
  justify-content: start;
  align-items: center;
}

header nav p {
  padding: 1px 0;
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
}

header nav p img {
  padding: 0 5px 0 0;
}

header nav p span {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  margin: 0 0 0 84px;
}

header nav p span img {
  padding: 0 5px 0 0;
}

header nav div {
  text-decoration: underline solid hsl(215, 51%, 70%);
  width: 100%;
  margin: 5px 0;
  opacity: 0.1;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

header nav a img {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin: 5px 0;
}

header nav a .one {
  display: inline;
  padding: 0 0 0 10px;
  color: hsl(215, 51%, 70%);
}

header nav a .two {
  padding: 0 5px 0;
  color: hsl(0, 0%, 100%);
}

header nav a .two:hover {
  color: hsl(178, 100%, 50%);
}
/* End Header */
}
/*end desktop*/
/*start mobile*/
@media (max-width:375px){
  /* Start Header */
.container {
  max-width: 375px;
  margin: 20px auto;
}

header {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

header .logo img {
  width: 100%;
  border-radius: 10px;
}

header .logo .one {
  position: relative;
  top: -305px;
  left: -0.2%;
  padding: 91px 54px 88px 38px;
  margin: 40px 0px -300px 0px;
  background-color: hsl(178, 100%, 50%, 60%);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
}

header .logo .one:hover {
  position: relative;
  top: -305px;
  left: -0.2%;
  padding: 91px 54px 88px 38px;
  margin: 40px 0px -300px 0px;
  background-color: hsl(178, 100%, 50%, 60%);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
}


header .logo .one p {
  width: 50px;
  height: 50px;
  position: relative;
  top: 36%;
  left: 41%;
  background-image: url("images/icon-view.svg");
}


header .logo h2 {
  color: hsl(0, 0%, 100%);
}

header .logo h2:hover {
  color: hsl(178, 100%, 50%);
}

header .logo p {
  color: hsl(215, 51%, 70%);
}

header nav {
  justify-content: start;
  align-items: center;
}

header nav p {
  padding: 1px 0;
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
}

header nav p img {
  padding: 0 5px 0 0;
}

header nav p span {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  margin: 0 0 0 84px;
}

header nav p span img {
  padding: 0 5px 0 0;
}

header nav div {
  text-decoration: underline solid hsl(215, 51%, 70%);
  width: 100%;
  margin: 5px 0;
  opacity: 0.1;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

header nav a img {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin: 5px 0;
}

header nav a .one {
  display: inline;
  padding: 0 0 0 10px;
  color: hsl(215, 51%, 70%);
}

header nav a .two {
  padding: 0 5px 0;
  color: hsl(0, 0%, 100%);
}

header nav a .two:hover {
  color: hsl(178, 100%, 50%);
}
/* End Header */
}


